{% extends "layout.html" %}

{% block header %}Question 2{% endblock %}

{% block content %}
  <h1>What profession did inventors of soft drinks usually have?</h1>

 <form action={{ url_for("renderQ3") }} method="POST">
   <input type="radio" name="job" value = "bar">
   <label for="false">Bartenders</label><br>
   <input type="radio" name="job" value = "shoe">
   <label for="false">Shoemakers</label><br>
   <input type="radio" name="job" value = "phar">
   <label for="false">Pharmacists</label><br>
   <input type="radio" name="job" value = "law">
   <label for="false">Lawers</label><br>
   <input type="submit" value="Submit">
 </form> 
<br>

{% endblock %}
